//
//  Production.xcconfig
//  Runner
//
//  Created by Nguyen Cong Minh on 28/7/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include? "Pods/Target Support Files/Pods-Runner/Pods-Runner.production.xcconfig"
#include "Generated.xcconfig"

APP_DISPLAY_NAME = Base Flutter
BUNDLE_ID_SUFFIX =
GOOGLE_SERVICE_INFO_PLIST_PATH = /Firebase/production/GoogleService-Info.plist
DART_DEFINES_FLAVOR=flavor=production
//DART_DEFINES=Zmxhdm9yPXByb2R1Y3Rpb24=,Zmx1dHRlci5pbnNwZWN0b3Iuc3RydWN0dXJlZEVycm9ycz10cnVl,RkxVVFRFUl9WRVJTSU9OPTMuMzIuMA==,RkxVVFRFUl9DSEFOTkVMPXN0YWJsZQ==,RkxVVFRFUl9HSVRfVVJMPWh0dHBzOi8vZ2l0aHViLmNvbS9mbHV0dGVyL2ZsdXR0ZXIuZ2l0,RkxVVFRFUl9GUkFNRVdPUktfUkVWSVNJT049YmU2OThjNDhhNg==,RkxVVFRFUl9FTkdJTkVfUkVWSVNJT049MTg4MTgwMDk0OQ==,RkxVVFRFUl9EQVJUX1ZFUlNJT049My44LjA=
